{% block body_content %}
<html>
    <head>
        <title>Song Info</title>
    </head>
    <body>
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.artist.label }} {{ form.artist }}
                {{ form.title.label }} {{ form.title }}
                <br>
                {{ form.submit }}
                <br>
            {{ message }}
            </form>
        </div>
    </body>
</html>
{% endblock body_content %}